@using CuyaCarMVCIsa.Controllers;
@using CuyaCarMVCIsa.Models;

<!---->

@model CuyaCarMVCIsa.Models.Coche
@{
    ViewBag.Title = "Coche";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- <h3>Coche: Model.matricula</h3>-->


@using (Html.BeginForm())
{

    @Html.LabelFor(modelCoche => modelCoche.marca)
    @Html.EditorFor(modelCoche => modelCoche.marca)
    <br>
    @Html.LabelFor(model => model.matricula)
    @Html.EditorFor(model => model.matricula)
    <br>
    <input name="añadir" type="submit" value="Añadir" />
    <input name="buscar" type="submit" value="Buscar" />
}


<!--<form action="~/Model/Coche" method="post">
    <label for="Matricula">Matricula</label>
    <input id="Matricula" name="Matricula" type="text" value="">
    <input type="submit" value="buscar" />
</form>-->
<!-- <input id="Marca" type="text" /><br>-->

<p>Use this area to provide additional information.</p>