@using CuyaCarMVCIsa.Controllers;
@using CuyaCarMVCIsa.Models;

<!---->

@model CuyaCarMVCIsa.Models.Coche
@{
    /**/

    ViewBag.Title = "Coche";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- <h3>Coche: Model.matricula</h3>-->


@using (Html.BeginForm())
{

    @Html.LabelFor(modelCoche => modelCoche.Marca)
    @Html.EditorFor(modelCoche => modelCoche.Marca)
    <br>
    @Html.LabelFor(model => model.Matricula)
    @Html.EditorFor(model => model.Matricula)
    <br>
    <input name="añadir" type="submit" onclick="location.href='@Url.Action("Añadir", "Home")'" value="Añadir" />
    <input name="buscar" id="buscar" type="submit" onclick="location.href='@Url.Action("Buscar", "Home")'" value="Buscar" />
    //<output name="valorbuscar" for="buscar" />
}

<!--<form method="Post">
    <input name="mostrartodos" id="mostrartodos" type="submit" onclick="location.href='@Url.Action("Mostrartodos", "Home")'" value="Mostrar Todos" />
    <output name="valormostrartodos" for="mostrartodos" />

    <label for="Matricula">Matricula</label>
        <input id="Matricula" name="Matricula" type="text" value="">
        <input type="submit" value="buscar" />
</form>-->
<!-- <input id="Marca" type="text" /><br>-->

<p>Use this area to provide additional information.</p>
